# Vadodara Smart Bus

In [25]:
import pandas as pd
import json
import os

In [27]:
fldr = 'route_details'
sample_tt = os.path.join(fldr, 'tt_2D.json')
sample_bt = os.path.join(fldr, '2D.json')

with open(sample_tt) as f:    
    json = json.load(f)

## Route Details

In [38]:
df_details = pd.io.json.read_json(sample_bt, orient='records')

In [44]:
df_details.head()

,ROWID,ROUTE_CODE,SCHEDULE_DATE,TIME_TABLE_TRIP_ID,TRIP_TIME,TRIP_END_TIME,SEQNO
0,1,2D,11-Oct-2021,1576,2021-10-12 06:15:00,2021-10-12 06:31:00,0
1,2,2D,11-Oct-2021,1571,2021-10-12 06:25:00,2021-10-12 06:41:00,0
2,3,2D,11-Oct-2021,1566,2021-10-12 06:35:00,2021-10-12 06:51:00,0
3,4,2D,11-Oct-2021,1567,2021-10-12 06:45:00,2021-10-12 07:01:00,0
4,5,2D,11-Oct-2021,1568,2021-10-12 06:55:00,2021-10-12 07:11:00,0

## Route Timetable

In [40]:
df_timetable = pd.DataFrame(json['Table'])

In [45]:
df_timetable.head(2)

,POI_ID,POI_NAME,REACH_TIME,ETA,POI_SHORT_NAME,POI_CODE,POI_NAME_GUJRATI,POI_NAME_HINDI,POI_SEQUENCE_NO,NEXT_POI_TRAVEL_SCHEDULE_DISTANCE,NEXT_POI_TRAVEL_SCHEDULE_DISTANCE1,LATLAN,TRAVELPATH
0,214,PANIGATE TANKI,06:15 AM,,PANTA,NS174,પાણીગેટ ટાંકી,पनिगेट टंकी,0,311.0,311.0,73.22373267 22.30084677,"LINESTRING (22.30085 73.22373, 22.30063 73.222..."
1,215,AYURVEDIC COLLEGE NAKA,06:15 AM,,AYCONA,NS163,આયુર્વેદિક કોલ્લેગે નાકા,आयुर्वेदिक कॉलेज नका,1,311.0,311.0,73.22083967 22.30005167,"LINESTRING (22.30085 73.22373, 22.30063 73.222..."

### Show all stops for route, with reach time

In [57]:
df_timetable['REACH_TIME_24'] = pd.to_datetime(df_timetable['REACH_TIME']).dt.strftime('%H:%M')
df_timetable[['POI_NAME', 'REACH_TIME_24']]

                    POI_NAME REACH_TIME_24
0             PANIGATE TANKI         06:15
1     AYURVEDIC COLLEGE NAKA         06:15
2   PANI GATE POLICE STATION         06:16
3                     MANDVI         06:18
4                NYAY MANDIR         06:20
5          GANDHI NAGAR GRUH         06:22
6              AMDAWADI POLE         06:23
7              TOWER RAOPURA         06:24
8         KOTHI KHADI BHAWAN         06:26
9        S.S.G HOSPITAL GATE         06:27
10               KAMATI BAUG         06:28
11                SAYAJIGUNJ         06:30
12            CITY BUS STAND         06:31

#### Calculate total time taken for the trip from 1st stop to last stop

In this case, it's only 16 minutes

In [81]:
(pd.to_datetime(df_timetable.iloc[-1]['REACH_TIME_24']) - pd.to_datetime(df_timetable.iloc[0]['REACH_TIME_24'])).components

Components(days=0, hours=0, minutes=16, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)